.products-line-slider
	.js-products-line-slider.owl-carousel
		include ../../../modules/products/preview-1
		include ../../../modules/products/preview-2
		include ../../../modules/products/preview-2
		include ../../../modules/products/preview-2
	.js-products-line-slider.owl-carousel 
		include ../../../modules/products/preview-1
		include ../../../modules/products/preview-2
		include ../../../modules/products/preview-2
		include ../../../modules/products/preview-2