.products-line-slider
	.js-products-line-slider.owl-carousel
		.product-line-slider__item
			include ../../../modules/products/preview-1
			include ../../../modules/products/preview-1
		.product-line-slider__item
			include ../../../modules/products/preview-2
			include ../../../modules/products/preview-2
		.product-line-slider__item
			include ../../../modules/products/preview-2
			include ../../../modules/products/preview-2
		.product-line-slider__item
			include ../../../modules/products/preview-2
			include ../../../modules/products/preview-2