.select-block 
	.select__name Сортировка: 
	.select.content-controll-pages__select
		.select-title
			.select-title__arrow
			.select-title__value По популярности
		.select-options 
			.select-options-inside 
				.select-options__value Сначала дорогие
				.select-options__value Сначала дешовые
			input(type="hidden" name="sort" value="15")