.select-block 
	.select__name Товаров на странице : 
	.select.content-controll-pages__select
		.select-title
			.select-title__arrow
			.select-title__value 15
		.select-options 
			.select-options-inside 
				.select-options__value 20
				.select-options__value 25
				.select-options__value 30
			input(type="hidden" name="sort" value="15")