.select-block 
	.select__name Отзывов на странице : 
	.select.content-controll-pages__select
		.select-title
			.select-title__arrow
			.select-title__value 5
		.select-options 
			.select-options-inside 
				.select-options__value 10
				.select-options__value 15
			input(type="hidden" name="sort" value="15")