.list 
	.list__block
		ol 
			li 
				a(href="index.html") Главная 
			li 
				a(href="brands.html") Все бренди 
			li 
				a(href="search.html") Поиск товаров
			li 
				a(href="brand.html") Страница бренда
			li 
				a(href="static-page.html") Статическая страница. О компании
			li 
				a(href="category.html") Страница категории 
			li 
				a(href="product.html") Страница товара 
			li 
				a(href="reviews.html") Отзывы
			li 
				a(href="review.html") Оставить отзыв
			li 
				a(href="compare.html") Сравнение товаров 
			li 
				a(href="news-catalog.html") Каталог новостей и акций 
			li 
				a(href="news.html") Страница новости/акции 
			li 
				a(href="basket.html") Корзина
			li 
				a(href="checkout.html") Оформление заказа
			li 
				a(href="feedback.html") Страница обратной связи
			li 
				a(href="entrance-page.html") Страница входа
			li 
				a(href="registration-page.html") Страница регистрации
			li 
				a(href="404.html") Страница 404
