extends template/main

block variables
	- var title = 'Статическая страница'
	- var pageClass = 'static-page'

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="index.html").breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__current О компании
	section.s-static-page
		.container 
			h1.title-page О компании
			.content-block 
				p.text ТехноМир — мультиканальный ретейлер бытовой техники и электроники в Украине. Мы выстроили тесные партнерские отношения с официальными представителями мировых и отечественных брендов компьютерной и бытовой техники, товаров для детей, спорта и туризма. Собственный склад, и пункт выдачи - основа качественного и быстрого выполнения Ваших заказов, гарантийного обслуживания. 
				p.text Сегодня – как и каждый день –  компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок. Именно поэтому мы активно внедряем в Украине инновационный формат мультиканальной продажи, который позволяет Вам в любое время выбирать, сравнивать, покупать, а при необходимости и возвращать любые товары наиболее удобным для вас способом по единым ценам: в магазине или в онлайне. Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело обращайтесь за консультацией к менеджерам в любом нашем магазине.
				span.title-block.title-block-green Наш асортимент
				p.text Мы сотрудничаем с известными во всем мире производителями, тщательно анализируем рынок и выставляем на продажу товары, завоевавшие положительные отклики у покупателей. Это товары самых известных мировых брендов: 
				.content-block__row 
					.content-block__col
						ul 
							li Samsung 
							li Acer 
							li LG
							li Lenovo 
							li Indesit 
							li Meizu
							li Intel 
							li Apple
							li Microsoft
							li Nokia
							li Nomi
							li Prestigio
					.content-block__col
						ul 
							li Огромный обновляемый ассортимент.
							li Уверенность в качестве.
							li Квалифицированный персонал.
							li Здесь работают знатоки своего дела, которые любят профессию и прекрасно разбираются в особенностях представленного товара. В магазине всегда можно получить совет по выбору, информацию о характеристиках и особенностях эксплуатации заинтересовавшей модели.
							li Привлекательная стоимость и регулярные распродажи для дополнительной выгоды. Для оптовиков — специальные условия заказа. 
							li Курьерская доставка по Киеву уже в день покупки, а также отправление товаров в регионы.
							li Собственный сервисный центр. Не нужно искать мастера, наши специалисты произведут все необходимые работы по ремонту или замене деталей на высшем уровне.
				span.title-block.title-block-green Как с нами связаться? 
				p.text Задать вопросы о покупке можно прямо на сайте — через онлайн-форму внизу окна. Также можно заказать обратный звонок, указав в комментарии удобное время для общения со специалистом.
				p.text Тех, кто считает, что лучше «один раз увидеть», мы приглашаем в наш магазин. Все товары сертифицированы, на них предоставляется гарантия с возможностью обслуживания в сервисном центре.
				span.title-block.title-block-green Сервис и гарантия
				p.text Все товары в нашем магазине официально поставляются в Украину. На большинство товаров предоставляется официальная гарантия производителей. При необходимости возврата товара или возникновении гарантийного случая, для обращения, при себе необходимо иметь: товар, гарантийный талон, кассовый чек и документ, подтверждающий личность. Перед началом эксплуатации пожалуйста внимательно прочитайте инструкцию!
				.content-block__row 
					.content-block__col
						ul
							li Гарантия на товары 
							li 14 дней на возврат или обмен
							li Возможность дополнительного сервиса
							li Официальный сервисный центр 
					.content-block__col 
						ul
							li Самовывоз 
							li Доставка по всей Украине
							li Оплата картой или наличными
							li Оптовая покупка
			span.title-small Причины выбрать именно нас 
			include modules/features/features