.features.features-pay
	ul.features__list  
		li.feature__item
			.feature
				+icon('truck','feature__icon').
				.feature__title Отправим товар службой доставки
		li.feature__item 
			.feature
				+icon('return-product','feature__icon').
				.feature__title 14 дней на возврат товара без вопросов
		li.feature__item 
			.feature
				+icon('card','feature__icon').
				.feature__title Оплата наличными, картой, через приват 24 
		li.feature__item 
			.feature
				+icon('busket-full','feature__icon').
				.feature__title Возможность самовывоза


