.features 
	ul.features__list  
		li.feature__item
			.feature
				+icon('truck','feature__icon').
				.feature__title ДОСТАВКА ТОВАРА ПО УКРАИНЕ
		li.feature__item 
			.feature
				+icon('security','feature__icon').
				.feature__title ОФИЦИАЛЬНАЯ ГАРАНТИЯ ОТ ПРОИЗВОДИТЕЛЯ
		li.feature__item 
			.feature
				+icon('card','feature__icon').
				.feature__title ОПЛАТА НАЛИЧНЫМИ ИЛИ КАРТОЙ
		li.feature__item 
			.feature
				+icon('return','feature__icon').
				.feature__title ВОЗВРАТ БЕЗ ВОПРОСОВ
		li.feature__item 
			.feature
				+icon('user','feature__icon').
				.feature__title Поможем с правильным выбором товара
		li.feature__item 
			.feature
				+icon('price-tag','feature__icon').
				.feature__title Всегда выгодные цены
		li.feature__item 
			.feature
				+icon('sale','feature__icon').
				.feature__title Акции и распродажи 
		li.feature__item 
			.feature
				+icon('big-busket','feature__icon').
				.feature__title Возможность оптовой покупки


