.header__top 
	.container
		.header__content
			nav.header__nav.header-nav
				ul.header-nav__list
					+headerNavLink('static-page.html','О компании')
					+headerNavLink('','Доставка и оплата')
					+headerNavLink('','Акции')
					+headerNavLink('','Новости')
					+headerNavLink('','Контакты')
			nav.header__nav.header__nav_right.header-nav
				ul.header-nav__list
					+headerNavLink('','Регистрация')
					+headerNavLink('','Вход')