.s-advantages
	.container 
		.advantages.owl-carousel 
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/samsung-logo.png", alt="").advantage__logo
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/logo-huawei.png", alt="").advantage__logo
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/lg-logo.png", alt="").advantage__logo
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/intel-logo.png", alt="").advantage__logo
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/indesit-logo.png", alt="").advantage__logo
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/acer-logo.png", alt="").advantage__logo
			.advantage
				a(href="").advantage__link 
					img(src="static/images/content/brands/asus-logo.png", alt="").advantage__logo