.s-banner 
	.container
		.banner
			.js-banner.owl-carousel
				.banner__item
					.banner__content
						.banner__body 
							span.banner__title Акция на товары Samsung
							span.banner__descr Samsung Galaxy A30 3/32Gb
							.banner__old-price 6 499 грн. 
							span.banner__price 5 799 грн. 
							a(href="").button.button_inline Подробней  
						.banner__img-wrapper 
							img(src="static/images/content/banner/banner-img.png" alt="Смартфон").banner__img
				.banner__item
					.banner__content
						.banner__body 
							span.banner__title Игровой ноутбук Acer Nitro 
							span.banner__descr 42-R705 Black
							.banner__old-price 25 299 грн. 
							span.banner__price 19 999 грн. 
							a(href="").button.button_inline Подробней  
						.banner__img-wrapper 
							img(src="static/images/content/banner/banner-img-2.png" alt="Смартфон").banner__img 
				.banner__item
					.banner__content
						.banner__body 
							span.banner__title Стиральная машина Samsung 
							span.banner__descr Indesit RN310
							.banner__old-price 12 499 грн. 
							span.banner__price 10 899 грн. 
							a(href="").bunner__button.button.button_inline Подробней  
						.banner__img-wrapper 
							img(src="static/images/content/banner/banner-img-3.png" alt="Смартфон").banner__img 