section.s-information
	.container
		h3.title-section О нас
		.information.tabs 
			ul.tabs-navigation.information-navigation
				li(data-show-tab="tab-advantages").information-navigation__item.tabs-navigation__item.tabs-navigation__item_active Наши преимущества	
				li(data-show-tab="tab-shop").information-navigation__item.tabs-navigation__item Интернет магазин
				li(data-show-tab="tab-service").information-navigation__item.tabs-navigation__item Сервис	
				li(data-show-tab="tab-delivery").information-navigation__item.tabs-navigation__item Доставка	
			.information-body.tabs-body 
				.tab.tab-advantages.tab_active
					p.text Сегодня – как и каждый день – , компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок. Именно поэтому мы активно внедряем в Украине инновационный формат мультиканальной продажи, который позволяет Вам в любое время выбирать, сравнивать, покупать, а при необходимости и возвращать любые товары наиболее удобным для вас способом по единым ценам: в магазине или в онлайне. Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело обращайтесь за консультацией к менеджерам в любом нашем магазине. 
				.tab.tab-shop
					p.text Сегодня – как и каждый день – , компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок. Именно поэтому мы активно внедряем в Украине инновационный формат мультиканальной продажи, который позволяет Вам в любое время выбирать, сравнивать, покупать, а при необходимости и возвращать любые товары наиболее удобным для вас способом по единым ценам: в магазине или в онлайне. Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело обращайтесь за консультацией к менеджерам в любом нашем магазине.Сегодня – как и каждый день – , компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок. Именно поэтому мы активно внедряем в Украине инновационный формат мультиканальной продажи, который позволяет Вам в любое время выбирать, сравнивать, покупать.
				.tab.tab-service
					p.text Сегодня – как и каждый день – , компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок. Именно поэтому мы активно внедряем в Украине инновационный формат мультиканальной продажи, который позволяет Вам в любое время выбирать, сравнивать, покупать, а при необходимости и возвращать любые товары наиболее удобным для вас способом по единым ценам: в магазине или в онлайне. Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело обращайтесь за консультацией к менеджерам в любом нашем магазине.Сегодня – как и каждый день – , компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок.  
				.tab.tab-delivery
					p.text Сегодня – как и каждый день – , компания ТехноМир предлагает вам лучшую мировую электронику, заботясь при этом о комфорте, приятных впечатлениях и выгодной цене всех ваших покупок. Именно поэтому мы активно внедряем в Украине инновационный формат мультиканальной продажи, который позволяет Вам в любое время выбирать, сравнивать, покупать, а при необходимости и возвращать любые товары наиболее удобным для вас способом по единым ценам: в магазине или в онлайне. Есть вопросы? Пожалуйста, звоните в нашу информационную службу, а также смело обращайтесь за консультацией к менеджерам в любом нашем магазине. 
