section.special-offer
	.container 
		h2.title-section Cпециально для вас
		.hits.tabs 
			ul.tabs-navigation.hits-navigation
				li(data-show-tab="top-hits").hits-navigation__item.tabs-navigation__item.tabs-navigation__item_active Лучшие товары 
			.tab.top-hits.tab_active
				include hits/special-hits