.form-user
	form(action="#").form-user__tech
		.form-user__wrapper
			.form-user__item 
				.form-user__label E-mail: *
				.form-user__input-wrapper  
					input(type="email" name="email").form-user__input.form-user__email
			.form-user__item 
				.form-user__label Пароль: *
				.form-user__input-wrapper  
					input(type="password" name="password").form-user__input.form-user__password
			button(type="submit").button.button-yellow.form-user__submit Войти