.form-user
	form(action="#").form-user__tech
		.form-user__wrapper
			.form-user__content
				.form-user__block 
					.form-user__item 
						.form-user__label Имя и фамилия: *
						.form-user__input-wrapper  
							input(type="text" name="login").form-user__input.form-user__name
					.form-user__item 
						.form-user__label Город: *
						.form-user__input-wrapper  
							input(type="text" name="login").form-user__input.form-user__name
				.form-user__block
					.form-user__item 
						.form-user__label Телефон: 
						.form-user__input-wrapper  
							input(type="text" name="login").form-user__input.form-user__phone
					.form-user__item 
						.form-user__label Почтовый индекс: *
						.form-user__input-wrapper  
							input(type="text" name="login").form-user__input.form-user__name
			.form-user__item 
					.form-user__label Адрес доставки: *
					.form-user__input-wrapper  
						input(type="text" name="login").form-user__input.form-user__address
			.form-user__item 
				.form-user__label Ваш отзыв *
				.form-user__input-wrapper  
					textarea(name="message").form-user__message
			.form-user__bottom-line
				button(type="submit").button.button-yellow.button-right.form-user__submit Далее