.news-item.news-preview
		.news-item__body 
			.news-item__photo
				a(href="").news-item__link
					img(src="static/images/content/news/news2.jpg", alt="Новости").news__photo-img
			.news-item__info
				.news-item__header
					span.news-item__title Акция. Снижение цен на телевизоры Samsung 
					span.news-item__date 11.10.2019
				.news-item__text Поспеши выбрать телевизор Samsung по лучшей цене! ...