.news-item 
		.news-item__body 
			.news-item__photo
				a(href="").news-item__link
					img(src="static/images/content/news/news2.jpg", alt="Новости").news__photo-img
			.news-item__info
				.news-item__header
					span.news-item__title Акция. Снижение цен на телевизоры Samsung 
					span.news-item__date 11.10.2019
				.news-item__text На все ТВ от Samsung скидка -20%!! Непревзойденный опыт просмотра, исключительное качество изображения и элегантный дизайн. Узнайте, почему многие выбрали телевизор QLED с большим экраном и остались довольны своим выбором.