.news-article 
	.news-article__header
		.news-article__photo
			img(src="static/images/content/news/news2.jpg", alt="Новости").news-article__img
		.news-article__info
			span.news-article__title Акция. Снижение цен на телевизоры Samsung 
			.news-article__text На все ТВ от Samsung скидка -20%!! Непревзойденный опыт просмотра, исключительное качество изображения и элегантный дизайн. Узнайте, почему многие выбрали телевизор QLED с большим экраном и остались довольны своим выбором.
			a(href="").button.button-green.news-article__button Перейти в каталог
	.news-article__text Добро пожаловать в мир уникальных возможностей ТВ с большим экраном. Непревзойденный опыт просмотра, исключительное качество изображения и элегантный дизайн – вот лишь несколько причин, почему вы должны обратить внимание на Samsung QLED с большой диагональю.  
	.news-article__text На большом экране Samsung любой контент сохраняет непревзойденное качество. Благодаря усовершенствованным функциям, таким как уменьшенное время отклика и технология Dynamic Black Equalizer, у вас будет полный контроль даже над самой динамичной игрой. В интерьерном режиме Ambient QLED покажет произведения искусства, семейные фотографии, полезную информацию или просто сольется с вашей стеной. 
	.news-article__text  Все еще сомневаетесь, подойдет ли вам ТВ с большой диагональю? Больше никаких сомнений – добро пожаловать в мир безграничных развлечений на большом экране вашего ТВ! Только в нашем магазине вы получите -20% на все телевизоры от Samsung!