.content-block 
	span.title-section Технические характеристики 
	.product-table
		span.product-table__title.title-table.title-green Экран
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Диагональ экрана
					td.product-table__cell 15,6''
				tr.product-table__row
					td.product-table__cell Разрешение экрана
					td.product-table__cell 1920x1080 Full HD
				tr.product-table__row
					td.product-table__cell Тип матрицы
					td.product-table__cell IPS
				tr.product-table__row
					td.product-table__cell Покрытие экрана 
					td.product-table__cell Матовое
	.product-table
		span.product-table__title.title-table.title-green Процессор
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Модель центрального процессора
					td.product-table__cell Core i5-8300H
				tr.product-table__row
					td.product-table__cell Количество ядер
					td.product-table__cell 4 ядра
				tr.product-table__row
					td.product-table__cell Частота центрального процессора
					td.product-table__cell 2,3 (4,0) ГГц
	.product-table
		span.product-table__title.title-table.title-green ОЗУ
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Объем ОЗУ
					td.product-table__cell 8 ГБ
				tr.product-table__row
					td.product-table__cell Максимальный объем ОЗУ
					td.product-table__cell 32 ГБ
				tr.product-table__row
					td.product-table__cell Количество слотов ОЗУ
					td.product-table__cell 2
				tr.product-table__row
					td.product-table__cell Тип оперативной памяти
					td.product-table__cell DDR4
	.product-table
		span.product-table__title.title-table.title-green Жесткий диск
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Объем накопителя
					td.product-table__cell 1 ТБ
				tr.product-table__row
					td.product-table__cell Тип накопителя
					td.product-table__cell HDD
	.product-table
		span.product-table__title.title-table.title-green Видеокарта
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Производитель видеокарты
					td.product-table__cell Nvidia
				tr.product-table__row
					td.product-table__cell Модель графического процессора
					td.product-table__cell GeForce GTX 1050
				tr.product-table__row
					td.product-table__cell Объем видео памяти
					td.product-table__cell 4 ГБ
				tr.product-table__row
					td.product-table__cell Тип видеокарты
					td.product-table__cell Дискретный 
	.product-table
		span.product-table__title.title-table.title-green Интерфейсы
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Оптический привод
					td.product-table__cell Без дисковода
				tr.product-table__row
					td.product-table__cell Тип беспроводной сети Wi-Fi
					td.product-table__cell 802.11 ac/a/b/g/n
				tr.product-table__row
					td.product-table__cell Bluetooth
					td.product-table__cell Версия 5.0
				tr.product-table__row
					td.product-table__cell HDMI
					td.product-table__cell в наличии
				tr.product-table__row
					td.product-table__cell USB 2.0
					td.product-table__cell 2 шт.
				tr.product-table__row
					td.product-table__cell USB 3.0
					td.product-table__cell 1 шт.
	.product-table
		span.product-table__title.title-table.title-green Корпус
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Материал корпуса
					td.product-table__cell Пластик
				tr.product-table__row
					td.product-table__cell Вес
					td.product-table__cell 2,7 кг
	.product-table
		span.product-table__title.title-table.title-green Гарантия и комплектация
		table.product-table__item 
			tbody 
				tr.product-table__row
					td.product-table__cell Комплектация
					td.product-table__cell Ноутбук, адаптер питания, документация, гарантийный талон
				tr.product-table__row
					td.product-table__cell Страна производства
					td.product-table__cell Китай
				tr.product-table__row
					td.product-table__cell Гарантийный срок
					td.product-table__cell 1 год