.compare-table
	table.compare-table__item 
		tr.compare-table__row-head
			td.compare-table__head
				span.title-page.compare__title Характеристики
			td.compare-table__head
				include ../products/compare-1
			td.compare-table__head
				include ../products/compare-1
			td.compare-table__head
				include ../products/compare-1
		tr.compare-table__row
			td.compare-table__cell Диагональ экрана
			td.compare-table__cell 15,6''
			td.compare-table__cell 15,6''
			td.compare-table__cell 15,6''
		tr.compare-table__row
			td.compare-table__cell Разрешение экрана
			td.compare-table__cell 1920x1080 Full HD
			td.compare-table__cell 1920x1080 Full HD
			td.compare-table__cell 1920x1080 Full HD
		tr.compare-table__row
			td.compare-table__cell Тип матрицы
			td.compare-table__cell IPS
			td.compare-table__cell TN 
			td.compare-table__cell IPS
		tr.compare-table__row
			td.compare-table__cell Покрытие экрана 
			td.compare-table__cell Матовое
			td.compare-table__cell Глянец 
			td.compare-table__cell Матовое
		tr.compare-table__row
			td.compare-table__cell Модель центрального процессора
			td.compare-table__cell Core i5-8300H
			td.compare-table__cell Core i5-8300H
			td.compare-table__cell Core i5-8300H
		tr.compare-table__row
			td.compare-table__cell Количество ядер
			td.compare-table__cell 4 ядра
			td.compare-table__cell 4 ядра
			td.compare-table__cell 4 ядра
		tr.compare-table__row
			td.compare-table__cell Частота центрального процессора
			td.compare-table__cell 2,3 (4,0) ГГц
			td.compare-table__cell 2,3 (4,0) ГГц
			td.compare-table__cell 2,3 (4,0) ГГц
		tr.compare-table__row
			td.compare-table__cell Объем ОЗУ
			td.compare-table__cell 8 ГБ
			td.compare-table__cell 8 ГБ
			td.compare-table__cell 8 ГБ
		tr.compare-table__row
			td.compare-table__cell Максимальный объем ОЗУ
			td.compare-table__cell 32 ГБ
			td.compare-table__cell 32 ГБ
			td.compare-table__cell 32 ГБ
		tr.compare-table__row
			td.compare-table__cell Количество слотов ОЗУ
			td.compare-table__cell 2
			td.compare-table__cell 2
			td.compare-table__cell 2
		tr.compare-table__row
			td.compare-table__cell Тип оперативной памяти
			td.compare-table__cell DDR4
			td.compare-table__cell DDR4
			td.compare-table__cell DDR4
		tr.compare-table__row
			td.compare-table__cell Объем накопителя
			td.compare-table__cell 1 ТБ
			td.compare-table__cell 1 ТБ
			td.compare-table__cell 1 ТБ
		tr.compare-table__row
			td.compare-table__cell Тип накопителя
			td.compare-table__cell HDD
			td.compare-table__cell HDD
			td.compare-table__cell HDD
		tr.compare-table__row
			td.compare-table__cell Производитель видеокарты
			td.compare-table__cell Nvidia
			td.compare-table__cell Nvidia
			td.compare-table__cell Nvidia
		tr.compare-table__row
			td.compare-table__cell Модель графического процессора
			td.compare-table__cell GeForce GTX 1050
			td.compare-table__cell GeForce GTX 1050
			td.compare-table__cell GeForce GTX 1050
		tr.compare-table__row
			td.compare-table__cell Объем видео памяти
			td.compare-table__cell 4 ГБ
			td.compare-table__cell 4 ГБ
			td.compare-table__cell 4 ГБ
		tr.compare-table__row
			td.compare-table__cell Тип видеокарты
			td.compare-table__cell Дискретный 
			td.compare-table__cell Дискретный 
			td.compare-table__cell Дискретный 
		tr.compare-table__row
			td.compare-table__cell Оптический привод
			td.compare-table__cell Без дисковода
			td.compare-table__cell Без дисковода
			td.compare-table__cell Без дисковода
		tr.compare-table__row
			td.compare-table__cell Тип беспроводной сети Wi-Fi
			td.compare-table__cell 802.11 ac/a/b/g/n
			td.compare-table__cell 802.11 ac/a/b/g/n
			td.compare-table__cell 802.11 ac/a/b/g/n
		tr.compare-table__row
			td.compare-table__cell Bluetooth
			td.compare-table__cell Версия 5.0
			td.compare-table__cell Версия 5.0
			td.compare-table__cell Версия 5.0
		tr.compare-table__row
			td.compare-table__cell HDMI
			td.compare-table__cell в наличии
			td.compare-table__cell в наличии
			td.compare-table__cell в наличии
		tr.compare-table__row
			td.compare-table__cell USB 2.0
			td.compare-table__cell 2 шт.
			td.compare-table__cell 2 шт.
			td.compare-table__cell 2 шт.
		tr.compare-table__row
			td.compare-table__cell USB 3.0
			td.compare-table__cell 1 шт.
			td.compare-table__cell 1 шт.
			td.compare-table__cell 1 шт.
		tr.compare-table__row
			td.compare-table__cell Материал корпуса
			td.compare-table__cell Пластик
			td.compare-table__cell Пластик
			td.compare-table__cell Пластик
		tr.compare-table__row
			td.compare-table__cell Вес
			td.compare-table__cell 2,7 кг
			td.compare-table__cell 2,7 кг
			td.compare-table__cell 2,7 кг
		tr.compare-table__row
			td.compare-table__cell Страна производства
			td.compare-table__cell Китай
			td.compare-table__cell Китай
			td.compare-table__cell Китай
		tr.compare-table__row
			td.compare-table__cell Гарантийный срок
			td.compare-table__cell 1 год
			td.compare-table__cell 1 год
			td.compare-table__cell 1 год 
		tr.compare-table__footer
			td.compare-table__cell
			td.compare-table__cell
				include ../products/compare-footer
			td.compare-table__cell
				include ../products/compare-footer
			td.compare-table__cell
				include ../products/compare-footer