.main-nav__dropdown
	ul.main-subnav__list
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('smartphone-call','main-subnav__icon')
					span.main-subnav__text Смартфоны и телефоны
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list.main-subnav__sublist 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Apple
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Samsung
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Xiaomi
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Huawei
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Meizu
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Motorola
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Sony
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text ZTE
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text LG
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Стартовые пакеты
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары
		li.main-subnav__item 
			a(href="#").main-subnav__link
				.main-subnav__wrap
					+icon('laptop','main-subnav__icon')
					span.main-subnav__text Ноутбуки и компютеры
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Ноутбуки
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Планшеты
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары для ноутбуков и ПК
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары для планшетов и электронных книг
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Комплектующие
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Компьютеры
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Программное обеспечение
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Электронные книги
				li.main-subnav__item
					a(href="category.html").main-subnav__link
						span.main-subnav__text Серверное оборудование
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Оргтехника
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('washing-machine','main-subnav__icon')
					span.main-subnav__text Бытовая техника, интерьер
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Стиральные машины
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Плиты
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Посудомоечные машины
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Профессиональная техника
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Контрольно-измерительные приборы
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары к кбт
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Услуги
				li.main-subnav__item
					a(href="category.html").main-subnav__link
						span.main-subnav__text Сервисы
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Климатическая техника
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('stove','main-subnav__icon')
					span.main-subnav__text Встраиваемая техника
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Варочные поверхности 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Духовые шкафы
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Кухонные вытяжки
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Стиральные машины
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Посудомоечные машины
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Микроволновые печи
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Холодильники
				li.main-subnav__item
					a(href="category.html").main-subnav__link
						span.main-subnav__text Вытяжные вентиляторы
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('bathroom','main-subnav__icon')
					span.main-subnav__text Сантехника и мебель для ванной
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Ванны, боксы, душевые
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Мойки, смесители, сифоны
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Керамика
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Мебель для ванной комнаты
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Инженерная сантехника
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Инсталляция и комплектующие
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('lamp','main-subnav__icon')
					span.main-subnav__text Освещение интерьера
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Торшери
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Люстри
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Светильники
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Встраиваемые решения
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('house','main-subnav__icon')
					span.main-subnav__text Для дома и офиса
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Офисная мебель
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Ортопедическая мебель
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('notebook','main-subnav__icon')
					span.main-subnav__text Офис, школа, книги
				+icon('shevron-right','main-subnav__arrow')
			ul.main-subnav__list 
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Тетради
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Книги
				li.main-subnav__item 
					a(href="category.html").main-subnav__link
						span.main-subnav__text Аксессуары
		li.main-subnav__item 
			a(href="#").main-subnav__link 
				.main-subnav__wrap
					+icon('general','main-subnav__icon')
					span.main-subnav__text Все категории
			