.review 
		.review__header
			.review-author
				span.review-author__name Олег Новиков
				span.review__date 07.11.2019
			include ../rating/rating-static
		.review__body 
			.review__photo
				img(src="static/images/content/reviews/logo.jpg", alt="Фото автора отзыва").review__photo-img
			.review__info
				.review__row 
					span.review__label Достоинства: 
					span.review__key хорошая производительность 
				.review__row 
					span.review__label Недостатки: 
					span.review__key Нет
				.review__text Ноутбук после полгода использования не показал ни единого недостатка, все игры которые выходят работают идеально, отличный выбор за свои деньги! Очень довольны товаром, ноут "бомба", спасибо за товар!