.reviews 
	.reviews__header
		span.title-section Отзывы 
		include ../rating/rating
		span.reviews-text-rating средняя оценка 4 бала
		a(href="#").button.button-green.reviews__button Оставить отзыв 
	.reviews__body
		include review
		include review
		include review
	.reviews__footer 
		a(href="#").button.button-green.reviews__button Все отзывы 