
.reviews-section
	.content-block 
		span.title-section Описание товара
		p.text Экран 15.6” IPS (1920x1080) Full HD, матовый / Intel Core i5-8300H (2.3 - 4.0 ГГц) / RAM 8 ГБ / SSD 256 ГБ / nVidia GeForce GTX 1050Ti, 4 ГБ / без ОД / LAN / Wi-Fi / Bluetooth / веб-камера / Linux / 2.5 кг / черный 
		p.text Основанная в 1976 году, компания Acer специализируется на оказании IT-услуг и производстве аппаратного и программного обеспечения, а также занимается исследованием, разработкой, маркетингом, продажей и обслуживанием инновационных продуктов для улучшения качества жизни пользователей. В ассортименте продуктов Acer – настольные компьютеры, мониторы, проекторы, серверы, планшеты, смартфоны и носимые на теле устройства. Компания также разрабатывает облачные решения, объединяющие Интернет вещей в единое целое. Acer отмечает 40-летний юбилей в 2016 г. и на данный момент является одной из 5 крупнейших мировых компаний по производству ПК.
		span.title-small Особености продукта
		.content-block__row 
			.content-block__col
				ul 
					li Видеокарта серии NVIDIA GeForce GTX 10
					li Процессор Intel Core
					li Усовершенствованная технология охлаждения
					li Технология Dolby Audio Premium
					li Разъемы на все случаи жизни
			.content-block__col
				ul 
					li Мощный процессор Intel Core обеспечивает плавное видео и мгновенную смену ракурсов в игре.
					li Видеокарта серии NVIDIA GeForce GTX 10 дарит свободу действий в многогранном виртуальном мире.
					li Оптимизируйте параметры охлаждения при высоких нагрузках, воспользовавшись технологией Acer CoolBoost.
	