.product-prev 
	.product-prev__header 
			img(src="static/images/content/products/product-1/prev-1.png", alt="Изображения товара").product-prev__img
	.product-prev__body
		.product-prev__info
			span.product-prev__title Ноутбук игровой Acer Nitro 5 AN515-42-R705 (NH.Q3REU.008) Black
			.product-prev__subtitle 
				span.product-prev__category Категория:
				a(href="").product-prev__category-name Стиральные машини
			.stars
		.product-prev__footer 
			.product-prev__price 
				span.product-prev__price-old 25 299грн.
				span.product-prev__price-current 19 999грн. 
			.product-prev__button
				a(href="").button Купить
