.product-checkout 
	.product-checkout__description 
		span.product-checkout__name Ноутбук игровой Acer Nitro 5 AN515-42-R705 Black
	.product-checkout__quantity
		span.product-checkout__quantity-title Количество: 3
	.product-checkout__price 
		span.product-checkout__price-title Всего:
		span.product-checkout__price-count 79 996грн. 