.product-busket 
	.product-busket__preview
		img(src="static/images/content/products/product-2/acer-nitro.jpg", alt="Изображения товара").product-busket__img
	.product-busket__description 
		span.product-busket__name Ноутбук игровой Acer Nitro 5 AN515-42-R705 Black
		span.product-busket__code Код: 0536354
	.product-busket__quantity.quantity
		button(type="button" name="quantity-button").quantity__button.quantity__button-minus
		input(type="text" name="quantity-input" value="1").quantity__input
		button(type="button" name="quantity-button").quantity__button.quantity__button-plus
	.product-busket__price 
		span.product-busket__price-title Всего:
		span.product-busket__price-count 19 999грн. 
	.product-busket__close-button
		a(href="").close.product-busket__close
